@layer base {
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
  }

  html,
  body {
    margin: 0;
  }

  body {
    font-family: $sans;
    @apply text-body font-body leading-normal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  figure,
  .wp-block-image,
  .wp-block-buttons .wp-block-button {
    margin: 0;
  }
  a {
    color: $link-green;
    text-decoration: none;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
  }
  .wp-block-columns {
    margin: 0;
    padding: 0;
  }
  .wp-block-cover {
    height: inherit;
  }
  h1 {
    @apply text-head font-head font-bold;
    line-height: 46px;
  }
  h2 {
    @apply text-sub-head font-head font-bold;
    line-height: 37px;
  }
  .wp-block-button__link {
    @apply bg-pink font-body-bold;
    border-radius: 5px;
    font-size: 15px;
    min-width: 245px;
  }
}
.wp-admin {
  * {
    opacity: 1 !important;
    transform: none !important;
  }
}
.no-max {
  img {
    max-width: none !important;
  }
}
.hollow .wp-block-button__link {
  border: 2px solid $pink;
  @apply text-pink bg-white;
}
.invert .wp-block-button__link {
  @apply text-pink bg-white;
}
.middle {
  z-index: 5;
  position: relative;
  img {
    max-width: 350px;
  }
}
.l1 {
  z-index: 4;
  position: relative;
  img {
    max-width: 290px;
  }
}
.l2 {
  z-index: 3;
  position: relative;
  img {
    max-width: 250px;
  }
}
.r1 {
  z-index: 4;
  position: relative;
  img {
    max-width: 290px;
  }
}
.r2 {
  z-index: 3;
  position: relative;
  img {
    max-width: 250px;
  }
}
.spread {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 100%;
  .wp-block-column {
    figure {
      transform: scale(0);
    }
    flex-basis: 20%;
    @apply flex items-center justify-center m-0;
  }
}
.cards {
  .wp-block-column {
    border: 10px solid #ffffff;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.19);
  }
}
.arrows {
  a:before {
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    content: ">";
  }
}
.home-client-chair {
  img {
    transform: translateY(120px);
  }
}
.details-tablet-img {
  img {
    max-width: 700px !important;
  }
}
#footer {
  p,
  li,
  a {
    @apply text-white;
  }
}
.social-icon {
  width: 37px;
  height: 37px;
}
.masonry {
  .wp-block-image {
    max-width: 20%;
  }
}
.cases-masonry {
  .wp-block-column:nth-child(even) {
    transform: translateY(-10%);
  }
}
.fade-in-1 {
  animation: fade-in 0.65s forwards linear;
}
.fade-bounce-1 {
  animation: fade-bounce 0.65s forwards linear;
}
.bounce-in-1 {
  animation: bounce-in 0.75s forwards linear;
}
.bounce-in-2 {
  animation: bounce-in 1s forwards linear;
}
.bounce-in-3 {
  animation: bounce-in 1.15s forwards linear;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0.2);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}
@keyframes fade-bounce {
  0% {
    opacity: 0;
    transform: translateY(45%);
  }
  80% {
    opacity: 1;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.lazy-fade-1 {
  opacity: 0;
}
.lazy-fade-2 {
  opacity: 0;
}
.lazy-fade-3 {
  opacity: 0;
}
.lazy-fade-bounce-1 {
  opacity: 0;
}
.lazy-fade-bounce-2 {
  opacity: 0;
}
.lazy-fade-bounce-3 {
  opacity: 0;
}
